<ion-header>
  <ion-toolbar>
    <ion-title>Intrest Calculator</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
    <ion-input label="Enter amount" placeholder="10000" [(ngModel)]="prinicipalAmount" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Number of Months" placeholder="1" [(ngModel)]="numberOfMonths" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="OnValueEntred()">Calculate</ion-button>
    </ion-item>
  </ion-list>
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="OnSegmentChanged()">
    <ion-segment-button value="intrest">
      <ion-label>Intrest</ion-label>
    </ion-segment-button>
    <ion-segment-button value="compound_intrest">
      <ion-label>Compound Intrest</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row *ngFor="let td of tableData">
      <ion-col>{{td.intrestRate}}</ion-col>
      <ion-col>{{td.intrestAmount}}</ion-col>
      <ion-col>{{td.totalAmount}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>